{
  "presets": [[
    "@babel/preset-env", {
      "targets": "> 1%, last 2 versions, not IE > 0, not IE_Mob > 0",
      "exclude": [
        "@babel/plugin-proposal-private-methods",
        "@babel/plugin-proposal-private-property-in-object"
      ]
    }],
    "babel-preset-gatsby"
  ]
}
